.searchbox{
	margin-top:10px;
	float:left;
	width:30%;
	height:350px;
	background:#F7FAF6;
	border-radius: 5px 5px 5px 5px;
}
.heading{
	padding-top:10px;
	height:28px;
	background:#538136;
	color:#FFFFFF;
	font-size:16px;
	text-align:center;
	border-radius: 5px 5px 5px 5px;
	font-weight:bold;
}
.searchformcontent{
	margin-left:5px;
}
#NodeHotelname,#NodeLocation{	
	color: #DD7F27;
    font-weight: bold;
    height: 25px;
    width: 250px;
}
#NodeStarclass,#NodeCategory{
	width:255px;
	height:25px;
	color:#DD7F27;
	font-weight: bold;
}
.submit input{
	float:right;
	margin-right:10px;
	width:auto;
	height:25px;
	border:none;
	background:#538136;
	font-size:14px;
	color:#FFFFFF;
	cursor:pointer;
	font-style:normal;
	border-radius:5px;
}
.submit input:hover{
	width:auto;
	background:#DD7F27;
	/*font-size:15px;font-weight:bold;*/
	color:#FFFFFF;
	cursor:pointer;
	font-style:normal;
	
	
}

.normalbtn{
	float:right;
	margin-right:10px;
	width:auto;
	height:25px;
	border:none;
	background:#72A946;
	font-size:14px;
	color:#FFFFFF;
	cursor:pointer;
}
.searchresult{
	margin-top:10px;
	float:right;
	background:#FFF;
	width:68%;
	height:auto;
	/*border:1px dashed #CCC;*/
}

.hoteldescontainer{
	background: none repeat scroll 0 0 #F7F7F7;
    border-radius: 5px 5px 5px 5px;
    height: 250px;
    margin: 5px 0;
}
.img{
	border: medium none !important;
    border-radius: 5px 5px 5px 5px;
    height: 58px;
    margin: 4px;
    width: 177px;
	
}
.hoteldets{
	padding-left:10px;
	float:left;
	width:68%;
	height:30px;
}
.hotelname{
	color: #72A946;
    font-size: 20px;
    font-weight: bold;
    height: 35px;
    margin-left: -10px;
    padding: 5px 0 5px 10px;
	background: none repeat scroll 0 0 #FFFFFF;
	
}
.hoteladdress,.hotelphone,.hotelweb{
	color:#72A946;
	font-size:13px;
	margin:5px 0;
}
.imgbox{
	background: none repeat scroll 0 0 #538136;
    border-radius: 5px 5px 5px 5px;
    float: left;
    height: 180px;
    width: 30%;
}
.htllbl{
	float:left;
	width:120px;
}
.htldet{
	float:left;
	width:300px;
}
.more{
	 text-align: right;
}
.moredets{
	margin: 10px 0;
}
.moreinfo div input{
	background: none repeat scroll 0 0 #538136;
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    margin: -5px 35px;
    width: 100px;
	
}
.moreinfo div input:hover{
	background:#DD7F27;
	width: 100px;
}
.roomdets{
	width:100%;
	background:#F7FAF6;
}
.hotelimages{
	margin:5px 0;
	width:100%;
	background:#F7FAF6;
}
.roomtype-des{
	height:150px;
}
.roomtype-des div{
	float:left;
	width:100px;	
}

.next,.prev{
	background: none repeat scroll 0 0 #538136;
    border-radius: 2px;
    padding: 2px;
    color: #FFFFFF;
    font-weight: bold;
	margin:0 2px;
	text-decoration: none;
}
.disabled{
	background: none repeat scroll 0 0 #CCCCCC;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    font-weight: bold;
    margin: 0 2px;
    padding: 2px;
}
.current{
	background: none repeat scroll 0 0 #CCCCCC;
    border-radius: 2px 2px 2px 2px;
	padding:2px;
}
.pg-div{
	background: none repeat scroll 0 0 #F7F7F7;
    border-radius: 5px 5px 5px 5px;
    float: right;
    margin-left: 300px;
    width: 68.1%;
}
.pg-div a{
	background: none repeat scroll 0 0 #538136;
    border-radius: 2px;
    padding: 2px;
    color: #FFFFFF;
    font-weight: bold;
	margin:0 2px;
	text-decoration: none;
}
.pg-div a:hover{
	color:#FF9933;
}
.description-container{
	overflow:hidden;
	height:200px;
}
.contact-inf{
	background: none repeat scroll 0 0 #DD7F27;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: bold;
    margin: 5px;
    padding: 5px;
	height: 93px;
}

form label {
    color: #538136;
    display: block;
    font-weight: bold;
}
.ht-icon,.ht-name{
	float:left;
	padding:10px;
}
.ht-icon{
	height: 20px;
    width: 20px;
	background: url("/img/click.png") no-repeat scroll 0 0 transparent;
}

.bookiing-link{
	background: none repeat scroll 0 0 #DD7F27;
    border-radius: 5px 5px 5px 5px;
    padding: 2px;
    width: 100px;
	font-weight: bold;
    margin: 30px 40px 5px 20px;
	text-align:center;
	margin: 50px 0 0 90px;
}
.bookiing-link a{
	color: #FFFFFF;
    font-size: 14px;
    text-decoration: none;
}
.bookiing-link a:hover{
	color: #2C7438;
    font-size: 14px;
    text-decoration: none;
}